header {
    display: flex;
    align-items: center;

    padding: 10px;
    background: linear-gradient(-225deg, #ce9bd1 0%, #4070c4 100%);
    min-width: 380px;
    padding: 20px;
}

header nav {
    display: flex;
    gap: 10px;
    color: black;
}


.active {
    color: white;
}