.long-txt {
    width: 100%;
    padding-inline: 1em;
}

.long-txt p.txt {
    margin-bottom: .5em;
    font-weight: 520;
}


.show-txt-btn {
    background-color: transparent;
    border: none;
    padding-inline: 0;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.005em;
    font-weight: 800;
    cursor: pointer;
}

.show-txt-btn:hover {
    text-decoration: underline;
}